[package]
name = "lightning-pool"
version = "0.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = "0.7"
anyhow.workspace = true
trait-variant = "0.1"
bytes.workspace = true
hp-fixed.workspace = true
fleek-crypto.workspace = true
futures.workspace = true
lightning-interfaces = { path = "../interfaces" }
lightning-metrics = { path = "../metrics" }
lightning-utils = { path = "../utils" }
lightning-types = { path = "../types" }
tracing.workspace = true
serde.workspace = true
humantime-serde.workspace = true
tokio.workspace = true
tokio-stream.workspace = true
scc.workspace = true
tokio-util = { workspace = true, features = ["codec"] }
affair.workspace = true
der = { version = "0.7", features = ["alloc", "derive"] }
fleek-blake3 = "1.5"
ready.workspace = true
ring = "0.16.20"
rustls = { version = "0.21", default-features = false, features = [
    "dangerous_configuration",
] }
rcgen = "0.11.1"
quinn = "0.10"
thiserror = "1.0"
webpki = { version = "0.22", features = ["std"] }
x509-parser = "0.15.1"
serde_json = "1.0"
lightning-workspace-hack.workspace = true

[dev-dependencies]
lightning-test-utils = { path = "../test-utils" }
lightning-signer = { path = "../signer" }
lightning-application = { path = "../application", features = ["test"] }
lightning-notifier = { path = "../notifier" }
lightning-topology = { path = "../topology" }
lightning-rep-collector = { path = "../rep-collector" }
fleek-crypto.workspace = true
futures.workspace = true
tempfile.workspace = true
tracing-subscriber.workspace = true
