[package]
name = "lightning-rpc"
version = "0.0.0"
edition = "2021"

[lib]
name = "lightning_rpc"
path = "src/lib.rs"

[[bin]]
name = "generate-openrpc-spec"
path = "src/spec/generate.rs"

[dependencies]
jsonrpsee = { version = "0.21", features = ["full"] }
serde.workspace = true
async-trait.workspace = true
serde_json.workspace = true
tower = { version = "0.4.13", features = ["tokio", "steer"] }
ethers = "2.0.10"
anyhow.workspace = true
thiserror.workspace = true
fleek-crypto.workspace = true
hp-fixed.workspace = true
ruint = { version = "1.10", features = ["num-bigint", "serde"] }
tokio.workspace = true
tracing.workspace = true
affair.workspace = true
autometrics.workspace = true
reqwest.workspace = true
clap = { version = "4.4.10", features = ["derive"] }

lightning-types = { path = "../types" }
lightning-interfaces = { path = "../interfaces" }
lightning-openrpc = { path = "../rpc-openrpc" }
lightning-openrpc-macros = { path = "../rpc-openrpc-macros" }
lightning-utils = { path = "../utils" }
alloy-primitives = "0.5.2"
hyper = { version = "0.14.27", features = ["server", "full"] }
futures.workspace = true
workspace-hack = { version = "0.1", path = "../../etc/workspace-hack" }


[dev-dependencies]
reqwest = { workspace = true, features = ["json"] }
lightning-test-utils = { path = "../test-utils" }
lightning-application = { path = "../application" }
lightning-fetcher = { path = "../fetcher" }
lightning-blockstore = { path = "../blockstore" }
lightning-blockstore-server = { path = "../blockstore-server" }
lightning-indexer = { path = "../indexer" }
lightning-origin-demuxer = { path = "../origin-demuxer" }
lightning-signer = { path = "../signer" }
lightning-notifier = { path = "../notifier" }
lightning-pool = { path = "../pool" }
lightning-topology = { path = "../topology" }
lightning-rep-collector = { path = "../rep-collector" }
tempfile = "3.10.1"
