[package]
name = "lightning-rpc"
version = "0.0.0"
edition = "2021"

[lib]
name = "lightning_rpc"
path = "src/lib.rs"

[[bin]]
name = "generate-openrpc-spec"
path = "src/spec/generate.rs"

[dependencies]
jsonrpsee = { version = "0.21", features = ["full"] }
serde.workspace = true
async-trait.workspace = true
serde_json.workspace = true
tower.workspace = true
hyper.workspace = true
ethers = "2.0.10"
anyhow.workspace = true
thiserror.workspace = true
fleek-crypto.workspace = true
hp-fixed.workspace = true
ruint = { version = "1.10", features = ["num-bigint", "serde"] }
tokio.workspace = true
tracing.workspace = true
affair.workspace = true
autometrics.workspace = true
reqwest.workspace = true
once_cell = "1.19"
clap = { version = "4.4.10", features = ["derive"] }

lightning-application = { path = "../application" }
lightning-firewall = { path = "../firewall" }
lightning-types = { path = "../types" }
lightning-interfaces = { path = "../interfaces" }
lightning-openrpc = { path = "../rpc-openrpc" }
lightning-openrpc-macros = { path = "../rpc-openrpc-macros" }
lightning-utils = { path = "../utils" }
merklize.workspace = true
alloy-primitives = "0.5.2"
resolved-pathbuf = { path = "../../lib/resolved-pathbuf" }

futures.workspace = true
lightning-workspace-hack.workspace = true
sha2 = "0.10.8"
hmac = "0.12.1"
rand.workspace = true
hex = "0.4.3"

[dev-dependencies]
reqwest.workspace = true
lightning-test-utils = { path = "../test-utils" }
lightning-fetcher = { path = "../fetcher" }
lightning-blockstore = { path = "../blockstore" }
lightning-blockstore-server = { path = "../blockstore-server" }
lightning-indexer = { path = "../indexer" }
lightning-origin-demuxer = { path = "../origin-demuxer" }
lightning-signer = { path = "../signer" }
lightning-notifier = { path = "../notifier" }
lightning-pool = { path = "../pool" }
lightning-topology = { path = "../topology" }
lightning-rep-collector = { path = "../rep-collector" }
resolved-pathbuf.workspace = true
tempfile.workspace = true
