[package]
name = "lightning-rpc"
version = "0.0.0"
edition = "2021"

[lib]
name = "lightning_rpc"
path = "src/lib.rs"

[[bin]]
name = "generate-openrpc-spec"
path = "src/spec/generate.rs"

[dependencies]
jsonrpsee = { version = "0.20", features = ["full"] }
serde.workspace = true
async-trait.workspace = true
serde_json.workspace = true
tower = "0.4.13"
ethers = "2.0.10"
anyhow.workspace = true
thiserror.workspace = true
fleek-crypto.workspace = true
hp-fixed.workspace = true
ruint = { version = "1.10", features = ["num-bigint", "serde"] }
tokio.workspace = true
tracing.workspace = true
affair.workspace = true
autometrics.workspace = true
reqwest.workspace = true
clap = { version = "4.4.10", features = ["derive"]}
lightning-types = { path = "../types" }


lightning-interfaces = { path = "../interfaces" }
lightning-openrpc = { path = "../rpc-openrpc" }
lightning-openrpc-macros = { path = "../rpc-openrpc-macros" }
alloy-primitives = "0.5.2"


[dev-dependencies]
reqwest = { workspace = true, features = ["json"] }
lightning-application = { path = "../application" }
lightning-fetcher = { path = "../fetcher" }
lightning-blockstore = { path = "../blockstore" }
lightning-blockstore-server = { path = "../blockstore-server" }
lightning-origin-ipfs = { path = "../origin-ipfs" }
lightning-signer = { path = "../signer" }
lightning-notifier = { path = "../notifier" }
lightning-pool = { path = "../pool" }
lightning-rep-collector = { path = "../rep-collector" }
infusion.workspace = true
