[package]
name = "lightning-cli"
version = "0.1.0"
edition = "2021"
default-run = "lightning-node"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lightning-interfaces = { path = "../interfaces" }
lightning-application = { path = "../application" }
lightning-broadcast = { path = "../broadcast" }
lightning-blockstore = { path = "../blockstore" }
lightning-blockstore-server = { path = "../blockstore-server" }
lightning-consensus = { path = "../consensus" }
lightning-fetcher = { path = "../fetcher" }
lightning-handshake = { path = "../handshake" }
lightning-notifier = { path = "../notifier" }
lightning-origin-ipfs = { path = "../origin-ipfs" }
lightning-rep-collector = { path = "../rep-collector" }
lightning-resolver = { path = "../resolver" }
lightning-rpc = { path = "../rpc" }
lightning-service-executor = { path = "../service-executor" }
lightning-topology = { path = "../topology" }
lightning-types = { path = "../types" }
lightning-pool = { path = "../pool" }
lightning-signer = { path = "../signer" }
lightning-utils = { path = "../utils" }
lightning-node = { path = "../node" }
mock = { path = "../mock" }
fleek-crypto.workspace = true
resolved-pathbuf.workspace = true
infusion.workspace = true
tokio.workspace = true
anyhow.workspace = true
serde.workspace = true
clap = { version = "4.4.2", features = ["derive"] }
tracing.workspace = true
tracing-subscriber = "0.3"
console-subscriber = { version = "0.2.0" }
fleek-blake3 = "1.5"
serde_json.workspace = true
reqwest = { workspace = true, features = ["json"] }
rand.workspace = true
human-panic = "1.2.2"
compile-time-run = "0.2.12"
nix = { version = "0.27.1", features = [ "signal" ] }

[[bin]]
name = "lightning-node"
path = "src/main.rs"
