[package]
name = "lightning-rep-collector"
version = "0.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lightning-interfaces = {path="../interfaces"}
lightning-reputation = {path="../reputation"}
anyhow.workspace = true
serde.workspace = true
async-trait.workspace = true
fleek-crypto.workspace = true
tokio.workspace = true
lru.workspace = true
scc.workspace = true

[dev-dependencies]
lightning-test-utils = {path="../test-utils"}
lightning-signer = {path="../signer"}
lightning-application = {path="../application", features = ["test"]}
lightning-notifier = {path="../notifier"}
rand.workspace = true
