[package]
name = "fleek-service-sgx"
version = "0.1.0"
edition = "2021"

[dependencies]
# project libs
blake3-tree = { path = "../../lib/blake3-tree" }

# async
tokio.workspace = true
futures.workspace = true

# io
bytes.workspace = true
arrayref = "0.3"

# encodings
hex = "0.4"

# deps for vendored sdk code
anyhow.workspace = true
serde.workspace = true
serde_cbor = "0.11.2"
serde-big-array = "0.5"
url = { version = "2.5", features = ["serde"] }
arrayvec = "0.7"

# deps for running sgx enclaves
aesm-client = { version = "0.6.0", features = ["sgxs"] }
enclave-runner = { version = "0.6.0" }
sgxs-loaders = { version = "0.4.0" }

# TLS-related deps.
rcgen = "0.13"

[[bin]]
name = "fn-service-3"
path = "src/bin.rs"
