[package]
name = "lightning-service-executor"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lightning-interfaces = { path = "../interfaces/" }
fn-sdk = { path = "../../lib/sdk" }
infusion.workspace = true
fleek-crypto.workspace = true
tokio.workspace = true
async-trait.workspace = true
anyhow.workspace = true
serde.workspace = true
tracing.workspace = true
triomphe = "0.1.9"
dashmap = "5.5"
fxhash = "0.2"
resolved-pathbuf.workspace = true
affair.workspace = true
futures.workspace = true

# io stress dependencies
bytes.workspace = true
arrayref = "0.3.7"
bincode = "1.3.3"

# Built-in services
# fleek-service-ping-example = { path = "../../services/ping" }
# fleek-service-big-buck-bunny = { path = "../../services/big-buck-bunny" }
fleek-service-fetcher = { path = "../../services/fetcher" }

[dev-dependencies]
lightning-fetcher = { path = "../fetcher" }
lightning-origin-ipfs = { path = "../origin-ipfs" }
lightning-broadcast = { path="../broadcast" }
lightning-blockstore = { path = "../blockstore" }
lightning-blockstore-server = { path = "../blockstore-server" }
lightning-signer = {path="../signer"}
lightning-resolver = { path = "../resolver" }
lightning-application = { path="../application", features = ["test"] }
lightning-pool = { path = "../pool" }
lightning-notifier = {path="../notifier"}
lightning-topology = {path="../topology"}
lightning-test-utils = { path="../test-utils" }
lightning-rep-collector = {path="../rep-collector"}
hp-fixed.workspace = true
