[package]
name = "lightning-service-executor"
version.workspace = true
edition.workspace = true

[dependencies]
lightning-interfaces = { path = "../interfaces" }
lightning-utils = { path = "../utils" }
lightning-test-utils = { path = "../test-utils" }
fn-sdk = { path = "../../lib/sdk" }
fleek-crypto.workspace = true
tokio.workspace = true
anyhow.workspace = true
serde.workspace = true
tracing.workspace = true
triomphe = "0.1.9"
dashmap = "5.5"
fxhash = "0.2"
resolved-pathbuf.workspace = true
affair.workspace = true
futures.workspace = true
panic-report.workspace = true
rand.workspace = true
which = "5.0.0"

# io stress dependencies
bytes.workspace = true
arrayref = "0.3.7"
bincode = "1.3.3"

# Built-in services
fleek-service-fetcher = { path = "../../services/fetcher", optional = true }
fleek-service-js-poc = { path = "../../services/js-poc", optional = true }
fleek-service-ai = { path = "../../services/ai", optional = true }
fleek-service-pod = { path = "../../services/pod", optional = true }

lightning-workspace-hack.workspace = true

[features]
default = []
services = [
    "dep:fleek-service-fetcher",
    "dep:fleek-service-js-poc",
    "dep:fleek-service-ai",
    "dep:fleek-service-pod",
]

[dev-dependencies]
hp-fixed.workspace = true
lightning-test-utils = { path = "../test-utils" }
lightning-blockstore = { path = "../blockstore" }
lightning-signer = { path = "../signer" }
lightning-application = { path = "../application", features = ["test"] }
lightning-notifier = { path = "../notifier" }
lightning-node.workspace = true
serial_test = "3.0"
tempfile.workspace = true
