# This file contains settings for `cargo hakari`.
# See https://docs.rs/cargo-hakari/latest/cargo_hakari/config for a full list of options.

hakari-package = "lightning-workspace-hack"

# Format version for hakari's output. Version 4 requires cargo-hakari 0.9.22 or above.
dep-format-version = "4"

# Setting workspace.resolver = "2" in the root Cargo.toml is HIGHLY recommended.
# Hakari works much better with the new feature resolver.
# For more about the new feature resolver, see:
# https://blog.rust-lang.org/2021/03/25/Rust-1.51.0.html#cargos-new-feature-resolver
resolver = "2"

# Add triples corresponding to platforms commonly used by developers here.
# https://doc.rust-lang.org/rustc/platform-support.html
platforms = [
    "x86_64-unknown-linux-gnu",
    # "x86_64-apple-darwin",
    "aarch64-apple-darwin",
    # "x86_64-pc-windows-msvc",
]

# Write out exact versions rather than a semver range. (Defaults to false.)
# exact-versions = true

# Style of workspace-hack lines to output.
workspace-hack-line-style = "workspace-dotted"

# Crates to exclude while traversing the dependency graph.
[traversal-excludes]
third-party = [
    # These crates are in the workspace exclude list. If not excluded here, because they have other
    # members depending on them, they'll be included in the generated Cargo.toml and result in
    # cyclic dependencies.
    { name = "lightning-guard", path = "etc/ebpf-apps/guard" },
    { name = "lightning-tui", path = "etc/tui" },

    # The generated workspace-hack/Cargo.toml entry for this crate is different depending on the system.
    { name = "linux-raw-sys" },
]

# Crates to remove at the end of computation.
[final-excludes]
workspace-members = [
    # These workspace/lib crates intentionally do not depend on workspace-hack.
    "affair",
    "atomo",
    "atomo-rocks",
    "better-shutdown",
    "blake3-tree",
    "blake3-wasm",
    "cdk-rust",
    "fast-sri",
    "fdi",
    "fleek-crypto",
    "fleek-ipld",
    "fn-sdk",
    "hp-fixed",
    "ink-quill",
    "merklize",
    "merklize-test-utils",
    "once-ptr",
    "panic-report",
    "resolved-pathbuf",
    "safetensors-ndarray",
    "simulon",
    "b3fs",
]
