[package]
name = "fleek-service-ai"
version = "0.0.0"
edition.workspace = true

[dependencies]
anyhow.workspace = true
base64.workspace = true
borsh = { version = "1.3" }
bytes = { version = "1.5", features = ["serde"] }
derive_more = "0.99"
fn-sdk = { path = "../../lib/sdk" }
hex = "0.4"
ndarray = "0.15"
ort = { version = "2.0.0-rc.0", features = ["custom-ops"] }
safetensors = "0.4"
safetensors-ndarray = { path = "../../lib/safetensors-ndarray" }
serde.workspace = true
serde_json.workspace = true
tracing.workspace = true
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tokio.workspace = true
url = "2.5.0"
lightning-workspace-hack.workspace = true
lightning-utils = { path = "../../core/utils" }
lazy_static.workspace = true

[[bin]]
name = "fn-service-2"
path = "src/bin.rs"
