output{
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
}

output .image{
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

output .image img{
    height: 100%;
    width: 100%;
}
